html,body {user-select: none;}
*{margin: 0;padding: 0;box-sizing: border-box; /*border: 1px solid red;*/}
body>div#canner{position: relative;width: 100%;background-color: rgb(43,43,43) ;padding-bottom:3.43%;}
body>div#canner>img#logopicture{position: absolute;top:29.16%;width: 7.14%;height: 49.16%;left: 7%;}
body>div#canner>div#chose{position: absolute;left: 53.6%;top: 27.08%;}
body>div#canner>div#chose>span>a{color: rgb(127,127,127);user-select: none;text-decoration:none;font-size: 1rem;margin-right: 1.5rem;}
body>div#canner>div#chose>span>a#last{margin-right: 0px;}
body>div#canner>div#chose>span>a:hover{color: #ffffff;}
body>div#banner_div{position:relative;width: 100%;padding-bottom: 30%;}
body>div#banner_div>img#banner_pic{position:absolute;width: 100%;height: 100%;}
body>div#banner_div>div#point{position:absolute;width: 8%;padding-bottom: 1.79%;border-radius:100px;left: 46%;top:90%;background-color: rgb(23,22,85);}
body>div#banner_div>div#point>div#active{width: 30%;border-radius:20%;}
body>div#banner_div>div#point>div.p0{position:absolute;background-color:rgb(220,220,229);width: 10%;height: 45.5%;border-radius:100%;top:30%;margin-left: 15%;
    transition:width 500ms;
    -webkit-transition:width 500ms;
}
body>div#banner_div>div#point>div.p1{position:absolute;background-color:rgb(220,220,229);width: 10%;height: 45.5%;border-radius:100%;top:30%;margin-left: 35%;
    transition:width 500ms;
    -webkit-transition:width 500ms;
}
body>div#banner_div>div#point>div.p2{position:absolute;background-color:rgb(220,220,229);width: 10%;height: 45.5%;border-radius:100%;top:30%;margin-left: 55%;
    transition:width 500ms;
    -webkit-transition:width 500ms;
}
body>div#banner_div>div#point>div.p3{position:absolute;background-color:rgb(220,220,229);width: 10%;height: 45.5%;border-radius:100%;top:30%;margin-left: 75%;
    transition:width 500ms;
    -webkit-transition:width 500ms;
}
body>div.main{position
:relative;width:100%;padding-bottom:52.6%;}
body>div.main>img#background1{position:absolute;width: 100%;z-index: 2;}
body>div.main>img#background2{position:absolute;width: 100%;z-index: 1;margin-top: 1%;}
body>div.main>img#tp0{position: absolute;width:22.3%; z-index: 3;left:38.5%;top:7.5%;}
body>div.main>span#pain_span{position:absolute;z-index: 4;width:16.3%;font-size:1.5rem;color: rgb(96,231,239);font-family: PingFangSC-Regular;font-weight: bold;left: 41.6%;top:7.4%;}
body>div.main>div.pp1{box-sizing:border-box;position:absolute;width:13%;height:6%;font-size: 1.125rem;line-height:2.7rem;z-index:3;top:18.8%;left:32.7%;text-align: center;color:rgb(157,157,179);}
body>div.main>div.pp2{box-sizing:border-box;position:absolute;width:13%;height:6%;font-size: 1.125rem;line-height:2.7rem;z-index:3;top:18.8%;left:53.21%;;text-align: center;color:rgb(157,157,179);}
body>div.main>div>div.biankuang{z-index:0;position: absolute;width: 100%;height:100%;border:0.1rem solid rgb(105,203,223);border-radius:0.2rem; }
body>div.main>div#d_active{box-sizing:border-box;background-image: url('../img/kuang.png');background-repeat:no-repeat;color: white;background-size:100%;line-height:2.7rem;}
body>div.main>div.kuang{position: absolute;width:62.5%;height: 58%;border:0.01rem solid rgb(41, 92, 134);z-index: 3;left: 18.3%;top:30%;}
body>div.main>div.kuang>p{position: absolute;top:3%;width:100%;left:2.87%;color: white;font-size: 1rem;}
body>div.main>div.kuang>span{position: absolute;width:95%;left:2.87%;top:11%;color: white;font-size: 0.7rem;}
body>div.main>div.kuang>div.pain_div{position:absolute;float:left;background-color: white;width:28.75%;height:63.79%;top:27.58%;}
body>div.main>div.kuang>div.pain_div>div.kuang_img{position:absolute;height:40.27%;width:42%;top:9.72%;left:27.78%;border:0.625rem solid rgb(229, 229,229);border-radius: 100px;}
body>div.main>div.kuang>div.pain_div>div.kuang_img:hover{position:absolute;height:40.27%;width:42%;top:9.72%;left:27.78%;border:0.625rem solid RGB(83, 211, 206);border-radius: 100px;}
body>div.main>div.kuang>div.pain_div>div.kuang_img>img{position: absolute;width: 48.28%;height: 48.28%;top:21%;left: 26%;}
body>div.main>div.kuang>div.pain_div>div.pain_div_title{position: absolute;font-weight:bold;width: 100%;text-align:center;font-size:1rem;top:59%;}
body>div.main>div.kuang>div.pain_div>div.pain_div_english{position: absolute;width: 100%;text-align:center;font-size:0.65rem;top:68%;}
body>div.main>div.kuang>div.pain_div>div.pain_div_buttom{position: absolute;left:31%;top:83%;font-size:0.875rem;text-align:center;background-color: rgb(83, 211, 205);width: 36.23%;height: 8.3%;color:white;border-radius: 6px}
body>div.main>div.kuang>div.pain_div>p.backtittle{position:absolute;top:8%;width: 100%;font-size:1rem;text-align: center; }
body>div.main>div.kuang>div.pain_div>p.backenglish{position:absolute;top:16%;width: 100%;font-size:0.65rem;text-align: center;}
body>div.main>div.kuang>div.pain_div>p.backgang{position:absolute;top:23%;left:40%;width:20%;height:1%;background-color: #dbdbdb;}
body>div.main>div.kuang>div.pain_div>p.backcontent{position:absolute;top:30%;left:5%;width: 90%;font-size:0.7rem;}
body>div.main>div.kuang>div.side_div{position:absolute;float:left;background-color: white;width:28.75%;height:60%;top:25.58%;display: none;}
body>div.main>div.kuang>div.center_div{position:absolute;float:left;background-color: white;width:28.75%;height:70%;top:20%;display: none;}
body>div.main>div.kuang>div.side_div>div.side_up{position: absolute;width: 100%;height: 35%;}
body>div.main>div.kuang>div.side_div>div.side_down{position: absolute;width: 100%;height: 65%;top:35%;}
body>div.main>div.kuang>div.side_div>div#side_up1{background-color:RGB(44, 100, 219); }
body>div.main>div.kuang>div.side_div>div#side_up2{background-color:RGB(125, 47, 255);}
body>div.main>div.kuang>div.side_div>div#side_down1{background-color:RGB(31, 50, 182); }
body>div.main>div.kuang>div.side_div>div#side_down2{background-color: RGB(73, 29, 183);}
body>div.main>div.kuang>div.center_div>div.center_up{position: absolute;width: 100%;height: 35%;background-color: RGB(83, 211, 203);}
body>div.main>div.kuang>div.center_div>div.center_down{position: absolute;width: 100%;height: 65%;top:35%;background-color:RGB(49, 133, 128);}
body>div.main>div.kuang>div>div.delta{position: absolute;width:0;height: 0;border-style:solid;border-width: 0 2.3rem 2.3rem 0;border-color:  transparent #ffffff transparent transparent; left: 85.4%;}
body>div.main>div.kuang>div>div#delta2{position: absolute;width:0;height: 0;border-style:solid;border-width: 0 2.3rem 2.3rem 0;border-color:  transparent #ffffff transparent transparent; left: 85.3%;}
body>div.main>div.kuang>div>div.side_up>p#up1{position: absolute;width:80%;font-size: 0.875rem;color: white;left:15%;top: 25%;font-weight: bold}
body>div.main>div.kuang>div>div.center_up>p#up2{position: absolute;width:55%;font-size: 0.875rem;color: white;left:25%;top: 25%;font-weight: bold}
body>div.main>div.kuang>div>div.side_up>p#up3{position: absolute;width:80%;font-size: 0.875rem;color: white;left:15%;top:38%;font-weight: bold}
body>div.main>div.kuang>div>div.side_down>p#down1{position: absolute;width:80%;font-size: 0.7rem;color: white;left:13%;top: 17%;}
body>div.main>div.kuang>div>div.center_down>p#down2{position: absolute;width:78%;font-size: 0.7rem;color: white;left:13%;top: 10%;}
body>div.main>div.kuang>div>div.side_down>p#down3{position: absolute;width:80%;font-size: 0.7rem;color: white;left:13%;top: 17%;}
body>div.main>div.kuang>div.center_div>div#delta21{position:absolute;width: 5%;height: 5%;font-size: 1rem;left: 95%;}
body>div.main>div.kuang>div.side_div>div.delta31{position:absolute;width: 5%;height: 5%;font-size: 1rem;left: 95%;}
body>div.main>div.kuang>div#side_div1{left:2.87%;}
body>div.main>div.kuang>div#center_div1{left:35.5%;}
body>div.main>div.kuang>div#side_div2{left:67.83%;}
body>div.main>div.kuang>div#costs{left: 2.87%;}
body>div.main>div.kuang>div#risky{left: 35.5%;}
body>div.main>div.kuang>div#rate{left: 67.83%;}
body>div.pobing{position: relative;width:100%;padding-bottom: 101.56%;}
body>div.pobing>img#biaoti1{position: absolute;top:3%;left:34%;width:32%;}
body>div.pobing>p#pobz{position: absolute;top:3%;left: 39%;font-size: 1.5rem;font-weight: bold;color: RGB(14, 7, 72);}
body>div.pobing>p#moshi{position: absolute;top:5.5%;left: 42.5%;font-size: 1.5rem;font-weight: bold;color: RGB(14, 7, 72);}
body>div.pobing>img#duobianxing{position: absolute;left: 76.5%;top: 5%;}
body>div.pobing>div.talk_pain{position: absolute;width: 62.5%;height:23.85%;left: 18.75%;top:10.77%;}
body>div.pobing>div.talk_pain>div#talk{position: absolute;width:46.58%;height: 100%;background-color: white;border-radius: 10px 0px 0px 10px;box-shadow:1rem 0 1rem rgb(240,240,240);z-index: 1;border: 1px solid black;}/* 左上，右上，右下，左下*/
body>div.pobing>div.talk_pain>div#pain{position: absolute;width:53.42%;height: 100%;background-color: RGB(18, 15, 78);z-index: 2;left:46.58%;}
body>div.pobing>div.talk_pain>div#talk>p{position: absolute;width:75%;color:RGB(16,13,48);font-size: 0.9rem;border-bottom: 0.1rem solid RGB(18, 15, 78);font-weight: bold;left: 12.34%;top:9.87%;}
body>div.pobing>div.talk_pain>div#talk>p#p2{width:69%;top: 17%;}
body>div.pobing>div.talk_pain>div#talk>div{position: absolute;}
body>div.pobing>div.talk_pain>div#talk>img{position: absolute;}
body>div.pobing>div.talk_pain>div#talk>img#tou1{width: 8.59%;}
body>div.pobing>div.talk_pain>div#talk>img#tou2{width: 8.59%;}
